importFrom(gmodels, ci.binom)
importFrom(graphics, abline, legend, locator, matplot, plot)
importFrom(gtools, binsearch)
importFrom(mvtnorm, rmvnorm)
importFrom(stats, anova, lm, pchisq, pf, qchisq, qf)

export(
       "gregorius",
       "power.casectrl",
       "power.genotype.conti",
       "simu.genotype.conti",
       "GeneticPower.Quantitative.Factor",
       "GeneticPower.Quantitative.Numeric",
       "GPC",
       "GPC.default"
)

