importFrom(gtools, binsearch)
importFrom(gmodels, ci.binom)
export(
       "gregorius",
       "power.casectrl",
       "power.genotype.conti",
       "simu.genotype.conti",
       "GeneticPower.Quantitative.Factor",
       "GeneticPower.Quantitative.Numeric",
       "GPC",
       "GPC.default"
)

